.c-btn {
  color: #151719;
  background-color: #fff;
  box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  transition: 0.2s;
  border: 1px solid #a5a5a5;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  .dashicons {
    font-size: 15px;
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }

  &:hover {
    background-color: #d1d1d1;
  }
}