.c-color-input {
  width: 70px;
  border-color: #000;
}

.c-color-name-input {
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

.c-color-input--data {
  min-width: 120px;
  pointer-events: bounding-box;
  padding: 0 4px;
  font-size: 12px;
  border: none;
  background-color: transparent;
}