table {
  border-collapse: collapse;
  width: 100%;

  th {
    font-weight: 700;
    padding: 8px;
    border-bottom: 1px solid #b9b9b9;
    text-align: left;
  }

  td {
    padding: 8px;
    border-bottom: 1px solid #b9b9b9;

    &:nth-child(2n) {
      background-color: #b9b9b9;
    }
  }
}